In [1]:
cat ./data/CSV_EX_3.csv

Bedroom; Sq. foot; Locality; Price ($)
2; 1500; Good; 300000
3; 1300; Fair; 240000
3; 1900; Very good; 450000
3; 1850; Bad; 280000
2; 1640; Good; 310000

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv("./data/CSV_EX_1.csv")

In [11]:
df1

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [7]:
df = pd.DataFrame(df1)

In [10]:
df

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [16]:
df2 = pd.read_csv("./data/CSV_EX_2.csv", names = ['Broom', 'Sq.foot', 'Locality', 'Price' ])
#df2 = pd.read_csv("./data/CSV_EX_2.csv")
df2

   Broom  Sq.foot    Locality   Price
0      2     1500        Good  300000
1      3     1300        Fair  240000
2      3     1900   Very good  450000
3      3     1850         Bad  280000
4      2     1640        Good  310000

In [25]:
df3 = pd.read_csv("./data/CSV_EX_3.csv", sep=';')

df3

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [31]:
df4 = pd.read_csv("./data/CSV_EX_skiprows.csv", skiprows = 2)
df4

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [34]:
df5 = pd.read_csv("./data/CSV_EX_skipfooter.csv", skipfooter = 1, skiprows =2)
df5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

   Bedroom   Sq. foot    Locality   Price ($)
0        2       1500        Good      300000
1        3       1300        Fair      240000
2        3       1900   Very good      450000
3        3       1850         Bad      280000
4        2       1640        Good      310000

In [38]:
df6 = pd.read_csv("./data/CSV_EX_1.csv", nrows=1)
df6

   Bedroom   Sq. foot  Locality   Price ($)
0        2       1500      Good      300000